<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <address>
        <strong>Insinööritoimisto Konstru Oy</strong><br />
        Ahventie 4 B<br />
        02170 Espoo<br />
        (09) 435 5950<br />
        etunimi.sukunimi@konstru.fi
        </address>
      </div>
      <!--<div class="col-sm-3 text-center">
        <ul>
          {% for p in site.pages %}
            {% if site.navigation contains p.url %}
            <li {% if p.url == page.url %}class="active"{% endif %}>
              <a href="{{ p.url | remove:'index.html' }}">{{ p.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>        
      </div>-->
      <div class="col-sm-6">
        <img src="/static/tilaajavastuu.png" alt="Tilaajavastuu">
        <img src="/static/suomen-vahvimmat-alpha.png" alt="Suomen Vahvimmat">
      </div>
    </div>
  </div>
</footer>